body {
  font-family: 'helvetica neue', arial, sans-serif;
  font-weight: 300;
  background-image: url(tokyo2.jpg);
  background-repeat: repeat;
}

.image-bg-fluid-height {
	background: url('tokyo2.jpg') no-repeat center center scroll;
    padding: 100px 0;
}

.image-bg-fixed-height {
	background: url('tokyo2.jpg') no-repeat center center scroll;
    height: 450px;
}
